<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998305366797-6kalh035in0ak666mdessp4efonnp9e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998305366797-6kalh035in0ak666mdessp4efonnp9e3</string>
	<key>API_KEY</key>
	<string>AIzaSyBRym9bliBS4p0b_BGFFdURNVkmvNvI4eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>998305366797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nuthan.DrawingApp</string>
	<key>PROJECT_ID</key>
	<string>drawingapp-a9808</string>
	<key>STORAGE_BUCKET</key>
	<string>drawingapp-a9808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998305366797:ios:3f5c63b539e00545fe2644</string>
	<key>DATABASE_URL</key>
	<string>https://drawingapp-a9808.firebaseio.com</string>
</dict>
</plist>